body  {

	scrollbar-face-color : #002973;

	scrollbar-shadow-color : #001052;

	scrollbar-highlight-color : #BD9C7B;

	scrollbar-3dlight-color : #6B5231;

	scrollbar-darkshadow-color : #000000;

	scrollbar-track-color : #002973;

	scrollbar-arrow-color : #EFDE63;

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	

}



a  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

}



a:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #ffffff;

	text-decoration : none;

}



a.map  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

	font-style : italic;

}



a.map:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	color : #ffffff;

	text-decoration : none;

	font-style : italic;

}



b  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

	font-style : italic;

}



b.white  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

	font-style : normal;

}



p  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	margin-left : 10px;

	

}



td  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	

}

td.s1  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	filter:dropshadow(color=#000000,offx=1,offy=1);

	text-decoration : none;	

}



.header  {

	font-family : Arial, Helvetica, sans-serif;

	font-size : 24px;

	color : #EFDE63;

	font-weight : bold;

	text-decoration : none;

	margin-top : 10px;

	margin-left : 10px;

}



.header1  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 16px;

	color : #EFDE63;

	text-decoration : none;

	margin-left : 10px;

}



.header2  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

	margin-left : 10px;

}



li { 

	list-style-image: url(design/yellow1.gif)

}



.white  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #ffffff;

	text-decoration : none;

}

td.sch {BORDER-TOP: #E0A040 2px solid; border-left: #E0A040 2px solid;

BORDER-BOTTOM: #EFDE63 1px solid; border-right: #EFDE63 1px solid;

font-size: 12px; filter:dropshadow(color=#000000,offx=1,offy=1);color:#ffffff;

}

td.not {BORDER-TOP: #E0A040 2px solid; border-left: #E0A040 2px solid; border-right: #EFDE63 1px solid;

}

table.sch {BORDER-TOP: #EFDE63 1px solid; border-left: #EFDE63 1px solid;

BORDER-BOTTOM: #E0A040 1px solid; border-right: #E0A040 1px solid;

}



	

.s1 {font-size: 12px; filter:dropshadow(color=#000000,offx=1,offy=1);color:#ffffff;}

.s2 {font-size: 12px; filter:dropshadow(color=#000000,offx=2,offy=2);color:#ffffff;}