html, body {

	top:0;

	left:0;

	right:0;

	min-height:100%;

	margin:0;

	padding:0;

	width:100%;

	overflow-y : auto;

	overflow-x : hidden;

	scrollbar-face-color : #323E50;

	scrollbar-shadow-color : #7C8F9E;

	scrollbar-highlight-color : #8F9BA3;

	scrollbar-3dlight-color : #7C8F9E;

	scrollbar-darkshadow-color : #101063;

	scrollbar-track-color : #3D4B61;

	scrollbar-arrow-color : #7C8F9E;

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #8F9BA3;

	text-decoration : none;



}

#scroll{

 position:absolute;

 top:0;

 left:0;

 width:100%;

 height:100%;

 overflow:auto;

}

#fix{

 position:absolute;

 top:0;

 left:0;

 width:100%;

 height:61px;

 z-index: 1;

}

#fix_pic{

	position:absolute;

	top:0;

	left:10;

	width:118px;

	height:200px;

	z-index: 2;

	text-align : left;

}

#fix_right{

 position:absolute;

 top:0;

 right:10;

 width:118px;

 height:200px;

 z-index: 2;

 text-align : right;

}

#fix_bot{

	position:absolute;

	bottom: 0px;

	left:10;

	width:145px;

	z-index: 2;

	text-align : left;

}

#fix_bot_right{

	position:absolute;

	bottom: 4px;

	right:10;

	width:244px;

	z-index: 2;

	 text-align : right;

}

#fix_bottom_right{

	position:absolute;

	bottom: 4px;

	right:4;

	width:266px;

	z-index: 2;

	 text-align : right;

}

a { font-family: sans-serif; font-weight: normal; font-size:12px; color: #8F9BA3; text-decoration: none }

a:hover { color: #dddddd; text-decoration: none }

a.plain:hover { font-size:12px; color: black; text-decoration: none }

.header { font-family: sans-serif; font-weight: bold; font-size:20px; color: #8F9BA3; text-decoration: none }

tr.norm { background : transparent }

td { font-family: sans-serif; font-weight: normal; font-size:12px; color: #8F9BA3; text-decoration: none }

b { font-family: sans-serif; font-weight: bold; font-size:12px; color: #8F9BA3; text-decoration: none }

b.indent { text-indent: 3px; font-family: sans-serif; font-weight: bold; font-size:12px; color: #8F9BA3; text-decoration: none }

li { text-indent:5px}

td.sh_nobo {border-left: #8F9BA3 2px solid; border-top: #8F9BA3 2px solid;}

td.sh_nobo_right {border-left: #8F9BA3 2px solid; border-right: #8F9BA3 2px solid; border-top: #8F9BA3 2px solid;}

td.sh_right {border-right: #8F9BA3 2px solid;}

td.sh_left {border-left: #8F9BA3 2px solid;}

td.design { font-family: sans-serif; font-weight: normal; font-size:5px; color: #8F9BA3; text-decoration: none }

td.party { background : url(../pictures/design/party.png) no-repeat fixed right;}

#content {

    margin:0;

    padding-top:0; /** 2em; **/

    padding-left:0;

    padding-bottom:0; /** 5em; **/

    z-index:2;

}



#footer_container {

    position:fixed;

    bottom:0; left:0; right:0;

    text-align:center;

    margin:0;

    height:60px;

    z-index:3;

}



#footer {

    position:absolute;

    top:0; left:0; right:0; bottom:0;

    z-index:3;

}



#header_container {

    position:fixed;

    top:0; left:0; right:0;

    text-align:center;

    margin:0;

    height:3em;

    z-index:3;

}



#header {

    position:absolute;

    top:0; left:0; right:0; bottom:0;

    height:100%;

    z-index:3;

    margin:0;

}





/* Nur für den MSIE */



* html, * html body {

    overflow:hidden;

    bottom:0;

    height:100%;

}



* html #footer_container {

    position:absolute;

    width:100%;

    padding-right:0px; /** 16px; **/

}



* html #header_container {

    position:absolute;

    width:100%;

    padding-right:0px;  /** 16px; **/

}



* html #footer {

    height:100%;

    position:static;

}



* html #content {

    position:absolute;

    top:0; bottom:0; left:0; right:0;

    height:100%;

    width:100%;

    overflow:auto;

    margin:0;

}