body  {
	scrollbar-face-color : #eeeeee;
	scrollbar-shadow-color : #eeeeee;
	scrollbar-highlight-color : #ffffff;
	scrollbar-3dlight-color : #eeeeee;
	scrollbar-darkshadow-color : #cccccc;
	scrollbar-track-color : #f7f7f7;
	scrollbar-arrow-color : #cccccc;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 12px;
	color : black;
	text-decoration : none;
}

a  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #eeeeee;
	text-decoration : none;
}

a:visited  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #aaaaaa;
	text-decoration : none;
}

a:active  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #ffff99;
	text-decoration : none;
}

a:hover  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #66ccff;
	font : Arial, Helvetica;
	text-decoration : none;
}

b  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
}

td  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;
}

.active  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #ffff99;
	text-decoration : none;
}

.button  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #eeeeee;
	text-decoration : none;
}

.header  {
	font-size : 16px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
}

.footer  {
	font-size : 10px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;
	text-decoration : none;
}

