body  {

	scrollbar-face-color : #42425A;

	scrollbar-shadow-color : #222222;

	scrollbar-highlight-color : #4273ad;

	scrollbar-3dlight-color : #638cbd;

	scrollbar-darkshadow-color : #395a84;

	scrollbar-track-color : #52525A;

	scrollbar-arrow-color : #638cbd;

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

}



a  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #ffffff;

	text-decoration : underline;

}



a:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	color : #00bbcc;

	text-decoration : none;

}



a.smaller  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 11px;

	color : #ffffff;

	text-decoration : none;

}



a.smaller:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #638cbd;

	text-decoration : none;

}

a.black  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #000000;

	text-decoration : none;

}



a.black:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #ffffff;

	text-decoration : none;

}

b  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #638cbd;

	text-decoration : none;

}

b.white  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

}



p  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

}



td  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	

}

td.s1  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	filter:dropshadow(color=#000000,offx=1,offy=1);

	text-decoration : none;	

}



.header  {

	font-family : Arial, Helvetica, sans-serif;

	font-size : 20px;

	color : #638cbd;

	font-weight : bold;

	text-decoration : none;

	margin-top : 10px;

}



.header1  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 16px;

	color : #ffffff;

	text-decoration : none;

}



.header2  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #638cbd;

	text-decoration : none;

}

.brown  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #638cbd;

	text-decoration : none;

}



ul { 

	list-style-image: url(design/spot.gif)

}

li { 

	list-style-image: url(design/spot.gif)

}



}

td.sch {BORDER-TOP: #4273a5 1px solid; border-left: #4273a5 1px solid;

font-size: 12px; filter:dropshadow(color=#000000,offx=1,offy=1);color:#ffffff;

}

td.not {

	BORDER-TOP: 1px solid #638cbd;

	border-left: 1px solid #638cbd;

	border-right: 1px solid #638cbd;

}

table.sch {BORDER-TOP: #4273a5 1px solid; border-left: #4273a5 1px solid;

BORDER-BOTTOM: #588cbd 2px solid; border-right: #638cbd 2px solid;

}

	

.s1 {font-size: 12px; filter:dropshadow(color=#ffffff,offx=1,offy=1);color:#ffffff;

}

