body  {

	scrollbar-face-color : #006384;

	scrollbar-shadow-color : #222222;

	scrollbar-highlight-color : #A5A5A5;

	scrollbar-3dlight-color : #ffffff;

	scrollbar-darkshadow-color : #525252;

	scrollbar-track-color : #48A8D0;

	scrollbar-arrow-color : #EFDE63;

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	

}



a  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

}



a:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #000000;

	text-decoration : none;

}



a.yellow  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

}



a.yellow:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #EFDE63;

	text-decoration : none;

}

a.yellow1 {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

}



a.yellow1:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #ffffff;

	text-decoration : none;

}

b  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

}



p  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	margin-left : 10px;

}



td  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	

}

td.s1  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	filter:dropshadow(color=#000000,offx=1,offy=1);

	text-decoration : none;	

}



.header  {

	font-family : Arial, Helvetica, sans-serif;

	font-size : 20px;

	color : #EFDE63;

	font-weight : bold;

	text-decoration : none;

	margin-top : 10px;

	margin-left : 10px;

}



.header1  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 16px;

	color : #EFDE63;

	text-decoration : none;

	margin-left : 10px;

}



.header2  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	font-size : 12px;

	color : #EFDE63;

	text-decoration : none;

	margin-left : 10px;

}



.coins  {

	font-family : serif;

	font-weight : normal;

	font-size : 11px;

	color : #ffffff;

	text-decoration : none;

	margin-left : 30px;

	filter:DropShadow(color=#000000, offx=1, offy=1);

}



ul { 

	list-style-image: url(design/yellow.gif)

}

ul:hover { 

	list-style-image: url(design/red_anim.gif)

}

li { 

	list-style-image: url(design/yellow.gif)

}

li:hover { 

	list-style-image: url(design/red_anim.gif)

}





.yellow  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #EFDE63;

	text-decoration : none;

}

td.sch {BORDER-TOP: #4AADD6 2px solid; border-left: #4AADD6 2px solid;

BORDER-BOTTOM: #013343 1px solid; border-right: #013343 1px solid;

font-size: 12px; filter:dropshadow(color=#000000,offx=1,offy=1);color:#ffffff;

}

td.not {BORDER-TOP: #4AADD6 2px solid; border-left: #4AADD6 2px solid; border-right: black 1px solid;

}

table.sch {BORDER-TOP: #07C9F9 1px solid; border-left: #07C9F9 1px solid;

BORDER-BOTTOM: #013343 1px solid; border-right: #013343 1px solid;

}

a.pic  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	font-size : 12px;

	color : #ffffff;

	text-decoration : none;

	background-color : #006384;

}

a.pic:hover  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : normal;

	color : #000000;

	text-decoration : none;

	background-color : #4AADD6; 

}

	

.s1 {font-size: 12px; filter:dropshadow(color=#000000,offx=1,offy=1);color:#ffffff;}

